body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}

h1 {
    margin-top: 20px;
    color: #0a0a0a;
}

#game {
    display: inline-block;
    margin-top: 20px;
}

#webcam {
    width: 640px;
    height: 480px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#canvas {
    display: none;
}

#result {
    margin-top: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed; /* Ensure fixed layout */
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    width: 50%; /* Set equal width for both columns */
}

th {
    background-color: #0096db;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #0096db;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #00aeff;
}
